[BEGINVDF]
Comment=Темная Сага 2: Чума
BaseDir=D:\Gothic MOD\My mods\DarkSaga2_Plague
VDFName=D:\Gothic MOD\Gothic II DSP\Data\modvdf\DarkSaga2_Plague.mod
[FILES]
*.fnt -r
*.tex -r
*.mrm -r
*.msh -r
*.mmb -r
*.mdh -r
*.msb -r
*.man -r
*.mdl -r
*.mdm -r
*.mds -r
*.wav -r
*.bik -r
[EXCLUDE]
[INCLUDE]
[ENDVDF]
